@font-face {
    font-family: 'Montserrat';
    src: url("/Assets/fonts/Montserrat-Regular.ttf");
  }
  :root {
    --input-size: 15rem;
    --height-hero-image: 90vh;
    --bg-color1: #2f2f2f;
    --bg-color2: #ffff;
    --purple-color1: #6a0dad;
    --purple-color2:#800080;
  }
  
  html {
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-color1);
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .main-container-hero {
    display: flex;
    flex-direction: column;
  }
  
  .hero-container {
    background: url(/Assets/img/air.jpg) center/cover;
    height: var(--height-hero-image);
    clip-path: circle();
    position: relative;
  }
  
  .hero-container::before {
    content: "";
    background: #000000;
    position: absolute;
    width: 500rem;
    height: 100%;
    opacity: 0.8;
  }
  
  .hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    color: white;
    text-transform: uppercase;
  }
  
  h2 {
    color: white;
    padding: 1rem;
    text-transform: uppercase;
  }

  h3 {
    color: white;
    text-transform: uppercase;
  }
  
  .colorW {
    color: red;
  }
  
  span {
    color: white;
  }

  /*Animation h1*/

  h1 {
    animation: color-change 2s infinite;
  }
  
  @keyframes color-change {
    0% {
      color: white;
    }
    50% {
      color: gold;
    }
    100% {
      color: white;
    }
  }

/*Form style*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--purple-color1);
    width: 30rem;
    height: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(247, 247, 247, 0.5);
  }
  
  .main-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
  input {
    width: var(--input-size);
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  input[type="submit"]:hover {
    background-color: var(--purple-color2);
    color: white;
    border: none;
    cursor: pointer;
  }

  input[type="radio"]{
    width: 1.5rem;
    cursor: pointer;
  }

  input[type="button"]:hover{
    background-color: var(--purple-color2);
    border: none;
    cursor: pointer;
    color: white;
  }

  input[type="text"], input[type="email"]{
    padding-left: 2rem;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    width: var(--input-size);
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--purple-color1);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--purple-color2);
  }
  textarea {
    width: var(--input-size);
    height: 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  /*Responsive style*/

@media screen and (max-width: 768px) {
    :root {
      --input-size: 15rem;
    }
    .hero-container {
      height: var(--height-hero-image);
    }
    .hero-container::before {
      width: 500rem;
    }
    form {
      width: 20rem;
      height: 20rem;
    }
    input {
      width: var(--input-size);
    }
    button {
      width: var(--input-size);
    }
    textarea {
      width: var(--input-size);
    }
  }
  
  @media screen and (max-width: 576px) {
    :root {
        --input-size: 10rem;
      }
    .hero-container {
      height: var(--height-hero-image);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .hero-container::before {
      width: 500rem;
    }
    form {
      width: 20rem;
      height: 100% relative;
    }
    input {
      width: var(--input-size);
    }
    button {
      width: var(--input-size);
    }
    textarea {
      width: 100%;
    }
  }
  
  
 